:root {
    --input-padding-y: 0.375rem; /* valor do padding vertical */
    --input-padding-x: 0.75rem;  /* valor do padding horizontal */
    --input-font-weight: 400;    /* peso da fonte */
    --input-color: #495057;      /* cor do texto */
    --input-border-color: #ced4da; /* cor da borda */
    --tertiary-bg: #f8f9fa;      /* cor de fundo terciária */
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .input-group .form-control[type="file"] {
    display: block;
    width: 100%;
    padding: var(--input-padding-y) var(--input-padding-x);
    font-weight: var(--input-font-weight);
    color: var(--input-color);
    background-color: var(--tertiary-bg);
    border: 1px solid var(--input-border-color);
    border-right: 0;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  
  .input-group .btn {
    padding: var(--input-padding-y) var(--input-padding-x);
    font-weight: var(--input-font-weight);
    color: var(--input-color);
    background-color: transparent;
    border: 1px solid var(--input-border-color);
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
  }
  
  .input-group .btn.btn-outline-secondary {
    color: var(--input-color);
    border-color: var(--input-border-color);
  }

  







  


Modal de Delete
.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1; /* Fica sobre outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita scroll se necessário */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com transparência */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Espaçamento de 15% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
    max-width: 500px; /* Largura máxima */
    border-radius: 5px; /* Cantos arredondados */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


