{% extends 'core/inicio.html' %}

{% load static %}

{% block conteudo %}
    <main class="col-md-10 ms-sm-auto col-lg-10">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Contrato</h1>
        </div>
        {% if form.errors %}
            <div class="alert alert-danger" id="error" role="alert">
                Existe um ou mais campos inválidos no formulário!
            </div>
        {% endif %}
        <form method="post" novalidate> <!--Colocar o novalidate para a mensagem de erro aparecer em baixo do input no template-->
            {% csrf_token %}
            {{ wizard.management_form }}
            <div class="container-fluid py-2 border mb-2" style="background-color: whitesmoke    ;">
                <div class="row mb-3">
                    <div class="col">
                        <label for="{{ wizard.form.valor.id_for_label }}">Valor</label>
                        {{ wizard.form.valor }}
                        <div class="text-danger">
                            {% for error in form.valor.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <label for="{{ wizard.form.periodo.id_for_label }}">Período</label>
                        {{ wizard.form.periodo }}
                        <div class="text-danger">
                            {% for error in form.periodo.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <label for="{{ wizard.form.data_inicio.id_for_label }}">Início</label>
                        {{ wizard.form.data_inicio }}
                        <div class="text-danger">
                            {% for error in form.data_inicio.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <label for="{{ wizard.form.data_fim.id_for_label }}">Fim</label>
                        {{ wizard.form.data_fim }}
                        <div class="text-danger">
                            {% for error in form.data_fim.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn">{% if wizard.steps.next %} Avançar {% else %} Finalizar {% endif %}</button>
            {% if wizard.steps.prev %}
                <button type="submit" class="btn" name="wizard_goto_step" value="{{ wizard.steps.prev }}">Retornar</button>
            {% endif %}
        </form>
{% endblock %}

{% block scripts %}
    <!-- Importação para uso de mask -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <!-- Importação para uso de maskMoney -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>

    <script>
        $(document).ready(function() {
            // Aplicar máscara no campo de valor
            $('#valor').maskMoney({
                prefix: 'R$ ', // Prefixo do valor
                allowNegative: false, // Permite valores negativos ou não
                thousands: '.', // Separador de milhares
                decimal: ',', // Separador decimal
                precision: 2, // Precisão (número de casas decimais)
                affixesStay: true // Símbolos prefixo/sufixo permanecem mesmo depois de editar o campo
            });
        });

        $('form').on('submit', function() {
            var valor = $('#valor').maskMoney('unmasked')[0];
            $('#valor').val(valor);
        });
    </script>
{% endblock %}