{% extends 'core/inicio.html' %}

{% load static %}

{% block htmx %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}

{% block conteudo %}
    <!-- Área Principal de Conteúdo com rolagem -->
    <main class="col-md-10 ms-sm-auto col-lg-10">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dados do Aluno</h1>
        </div>

        <h5 class="mb-2">Aluno</h5> 
        <div class="container-fluid py-4 border mb-3" style="background-color: whitesmoke;" id="aluno-form">
            {% include 'fragmento/aluno_update.html' with aluno=aluno %}
        </div>

        <h5 class="mb-2">Contrato</h5> 
        <div class="container-fluid py-4 border mb-3" style="background-color: whitesmoke;" id="contrato-form">
            {% include 'fragmento/contrato_update.html' with contrato=contrato %}
        </div>
  
        <div class="container-fluid py-4 border mb-3" style="background-color: whitesmoke;" id="ficha-form">
            {% include 'fragmento/ficha_update.html' with ficha=ficha %}
        </div>

        <div class="container-fluid py-4 border mb-3" style="background-color: whitesmoke;">
            <h1>Responsáveis</h1>
            <a href="{% url 'resp-create' object.pk %}"><button class="btn">Cadastrar</button></a>
    
            <table id="responsavel">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>Endereço</th>       
                        <th>Profissão</th>                      
                        <th>Sexo</th>                      
                        <th>Parentesco</th>  
                        <th></th>           
                    </tr>
                </thead>
                <tbody>
                    {% for resp in responsaveis %}
                        <tr>
                            <td>{{ resp.nome}}</td>
                            <td>{{ resp.cpf }}</td>
                            <td>{{ resp.telefone }}</td>
                            <td>{{ resp.endereco }}</td>
                            <td>{{ resp.profissao }}</td>
                            <td>{{ resp.sexo }}</td>
                            <td>{{ resp.parentesco }}</td>
                            <td>
                                <button class="btn openModal">Excluir</button>
                            
                                <!-- Modal -->
                                <div class="modalDelete modal">
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <header>
                                            <h2>Exclusão de Responsável</h2>
                                        </header>
                                        <p>Tem certeza que deseja excluir o cadastro do Responsável?</p>
                                        <button type="button" class="btn-excluir">Excluir</button>
                                    </div>
                                </div>
                                <form class="formDelete" method="post" action="{% url 'resp-delete' resp.pk  %}">
                                    {% csrf_token %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}  
                </tbody>
            </table>
        </div>

        <div class="container-fluid py-4 border" style="background-color: whitesmoke;">
            <h1>Documentos</h1>

            <form hx-post="{% url 'upload-documento' object.pk %}" 
                hx-encoding="multipart/form-data"
                enctype="multipart/form-data"
                hx-target="#lista-documentos"
                class="d-flex justify-content-between mb-3"
                style="background-color: white"
                >
    
                {% csrf_token %}    

                <form hx-post="{% url 'upload-documento' object.pk %}" 
                hx-encoding="multipart/form-data"
                enctype="multipart/form-data"
                hx-target="#lista-documentos"
                >
    
                {% csrf_token %}    
                <input type="file" class="btn" id="arquivo" name="arquivo">
                <button type="submit" class="btn">Enviar</button>

            </form>
    
            <div id="lista-documentos">
                {% include 'fragmento/lista_documentos.html' with documentos=documentos %}
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/aluno.js' %}"></script>
{% endblock %}