{% extends 'core/inicio.html' %}

{% load static %}

{% block conteudo %}
    <main class="col-md-10 ms-sm-auto col-lg-10">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Aluno</h1>
        </div>
        {% if form.errors %}
            <div class="alert alert-danger" id="error" role="alert">
                Existe um ou mais campos inválidos no formulário!
            </div>
        {% endif %}
        <form  method="post" novalidate> <!--Colocar o novalidate para a mensagem de erro aparecer em baixo do input no template-->
            {% csrf_token %}
            {{ wizard.management_form }}
            <div class="container-fluid py-2 border mb-2" style="background-color: whitesmoke;">
                <div class="row mb-3">
                    <div class="col-8">
                        <label for="{{ wizard.form.nome.pk_for_label }}">Nome</label>
                        {{ wizard.form.nome }}
                        <div class="text-danger">
                            {% for error in form.nome.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-2">
                        <label for="{{ wizard.form.cpf.pk_for_label}}">CPF</label>
                        {{ wizard.form.cpf }}
                        <div class="text-danger">
                            {% for error in form.cpf.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-2">
                        <label for="{{ wizar.form.idade.pk_for_label }}">Idade</label>
                        {{ wizard.form.idade }}
                        <div class="text-danger">
                            {% for error in form.idade.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn">{% if wizard.steps.next %} Avançar {% else %} Finalizar {% endif %}</button>
            <a href="{% url 'inicio' %}"><button type="button" class="btn">Cancelar</button></a>
        </form>
    </main>
{% endblock %}

{% block scripts %}
    <!-- Importação para uso de mask -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#cpf').mask('000.000.000-00', {reverse: true}); // Máscara de CPF
        });

        $('form').on('submit', function() {
            // Remove a máscara de CPF ou CNPJ
            $("#cpf").unmask();
        });
    </script>
{% endblock %}
