{% extends 'core/inicio.html' %}

{% load static %}

{% block htmx %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}

{% block conteudo %}
    <!-- Área Principal de Conteúdo com rolagem -->
    <main class="col-md-10 ms-sm-auto col-lg-10">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dados do Aluno</h1>
        </div>

        <h5 class="mb-2">Aluno</h5> 
        <div class="container-fluid py-4 border mb-3" style="background-color: whitesmoke;" id="aluno-form">
            {% include 'fragmento/aluno_update.html' with aluno=aluno %}
        </div>

        <h5 class="mb-2">Contrato</h5> 
        <div class="container-fluid py-4 border mb-3" style="background-color: whitesmoke;" id="contrato-form">
            {% include 'fragmento/contrato_update.html' with contrato=contrato %}
        </div>
  
        <h5 class="mb-2">Ficha</h5> 
        <div class="container-fluid py-4 border mb-3" style="background-color: whitesmoke;" id="ficha-form">
            {% include 'fragmento/ficha_update.html' with ficha=ficha %}
        </div>

        <h5 class="mb-2">Responsáveis</h5> 
        <div class="container-fluid py-4 border mb-3" style="background-color: whitesmoke;">
            <a href="{% url 'resp-create' object.pk %}"><button class="btn">Cadastrar</button></a>
            <a href="/media/lgpd/AUTORIZACAO_LGPD.pdf" download><button class="btn">LGPD</button></a>
    
            <table class="table table-hover mt-3" id="listar-responsaveis">
                <thead>
                    <tr class="table">
                        <th class="p-1" style="background-color: #03a8e8; color: white;">Nome</th>
                        <th class="p-1" style="background-color: #03a8e8; color: white;">CPF</th>
                        <th class="p-1" style="background-color: #03a8e8; color: white;">Telefone</th>
                        <th class="p-1" style="background-color: #03a8e8; color: white;">Endereço</th>       
                        <th class="p-1" style="background-color: #03a8e8; color: white;">Profissão</th>                      
                        <th class="p-1" style="background-color: #03a8e8; color: white;">Sexo</th>                      
                        <th class="p-1" style="background-color: #03a8e8; color: white;">Parentesco</th>  
                        <th class="p-1" style="background-color: #03a8e8; color: white;"></th>           
                    </tr>
                </thead>
                <tbody>
                    {% for resp in responsaveis %}
                        <tr class="p-1" style="background-color: #ffffff;">
                            <td>{{ resp.nome}}</td>
                            <td>{{ resp.cpf }}</td>
                            <td>{{ resp.telefone }}</td>
                            <td>{{ resp.endereco }}</td>
                            <td>{{ resp.profissao }}</td>
                            <td>{{ resp.sexo }}</td>
                            <td>{{ resp.parentesco }}</td>
                            <td>
                                <!-- Botão para abrir o modal, com um ID único -->
                                <a id="openModal-{{ resp.pk }}" data-resp-id="{{ resp.pk }}" style="color: red; cursor: pointer;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708"/>
                                    </svg>
                                </a>  

                                <!-- Modal com um ID único -->
                                <div class="modal fade" id="modalDelete-{{ resp.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel-{{ resp.pk }}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title fs-5" id="staticBackdropLabel-{{ resp.pk }}">Confirmar exclusão</h5>
                                        </div>
                                        <div class="modal-body">                                        
                                            Confirme se realmente deseja a exclusão permanente do responsável <b>{{ resp.nome }}</b>.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                            <!-- Botão de confirmação com ID único -->
                                            <button type="button" class="btn btn-excluir" style="background-color: red; color: white;" data-resp-id="{{ resp.pk }}">Confirmar</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            
                                <form id="formDelete-{{ resp.pk }}" method="post" action="{% url 'resp-delete' resp.pk  %}">
                                    {% csrf_token %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}  
                </tbody>
            </table>
        </div>

        <h5 class="mb-2">Documentos</h5> 
        <div class="container-fluid py-4 border" style="background-color: whitesmoke;">
            <form hx-post="{% url 'upload-documento' object.pk %}" 
                hx-encoding="multipart/form-data"
                enctype="multipart/form-data"
                hx-target="#lista-documentos"
                hx-swap="innerHTML" 
                class="d-flex justify-content-between mb-3"
                style="background-color: white"
                id="form-upload"
                > <!-- Usar o  hx-swap="innerHTML" para Atualizar o conteúdo de um elemento sem remover ou recriar o próprio elemento, evitando de desconfigurar o data-table-->
                {% csrf_token %}    

          
                <input type="file" class="btn" id="arquivo" name="arquivo">
                <button type="submit" class="btn">Enviar</button>

            </form>
    
            <div id="lista-documentos">
                {% include 'fragmento/lista_documentos.html' with documentos=documentos %}
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/aluno.js' %}"></script>

    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            $('#listar-responsaveis').DataTable({
                responsive: true,
                "ordering": true, // Remove as opções das colunas de ordenar a tabela.
                "searching": false, // Remove o campo input de busca "search"
                "info": false,
                // "bSort": false,
                "aaSorting": [],
                "pageLength": 4,
                "language": {
                    "decimal": "",
                    "emptyTable": "Nenhum responsável",
                    // "info": "Filtrados: _TOTAL_ ",
                    "infoEmpty": "Ativos: 0",
                    "infoFiltered": "",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ alunos",
                    "loadingRecords": "A carregar dados...",
                    "processing": "A processar...",
                    // "search": "Buscar:",
                    "zeroRecords": "Nenhum responsável",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ordem crescente",
                        "sortDescending": ": ordem decrescente"
                    }
                }
            });

            $('.dataTables_length').hide(); // Remove do data-table -> "lengthMenu": "Mostrar _MENU_ alunos", 

            // Abrir modal de Delete Responsável e enviar formulário - Seleciona todos os botões de abrir modal e os configura individualmente
            document.querySelectorAll('[id^="openModal-"]').forEach(button => {
                button.addEventListener('click', function () {
                    const respId = button.getAttribute('data-resp-id');
                    const modalElement = document.getElementById(`modalDelete-${respId}`);
                    
                    // Inicializa e mostra o modal específico
                    const modalInstance = new bootstrap.Modal(modalElement, {
                        backdrop: 'static',
                        keyboard: false
                    });
                    modalInstance.show();

                    // Configura o botão de exclusão dentro do modal
                    const deleteButton = modalElement.querySelector('.btn-excluir');
                    deleteButton.onclick = function () {
                        const formDelete = document.getElementById(`formDelete-${respId}`);
                        formDelete.submit();
                    };
                });
            });            
        });
    </script>
{% endblock %}