{% load static %}


{% block htmx %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}

<section id="aluno-form">
    {% include 'fragmento/aluno_update.html' with object=aluno %}
</section>

<section id="contrato-form">
    {% include 'fragmento/contrato_update.html' with contrato=contrato %}
</section>

<section id="ficha-form">
    {% include 'fragmento/ficha_update.html' with ficha=ficha %}
</section>

<section>
    <h1>Responsáveis</h1>

    <a href="{% url 'resp-create' object.pk %}"><button>Novo Responsável</button></a>

    <table id="responsavel">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Endereço</th>       
                <th>Profissão</th>                      
                <th>Sexo</th>                      
                <th>Parentesco</th>             
            </tr>
        </thead>
        <tbody>
            {% for resp in responsaveis %}
            <tr>
                <td>{{ resp.nome}}</td>
                <td>{{ resp.cpf }}</td>
                <td>{{ resp.telefone }}</td>
                <td>{{ resp.endereco }}</td>
                <td>{{ resp.profissao }}</td>
                <td>{{ resp.sexo }}</td>
                <td>{{ resp.parentesco }}</td>
            </tr>
            {% endfor %}  
        </tbody>
    </table>
</section>
<section>
    <h1>Documentos</h1>

    <form hx-post="{% url 'upload-documento' object.pk %}" 
        hx-encoding="multipart/form-data"
        enctype="multipart/form-data"
        hx-target="#lista-documentos"
        >

        {% csrf_token %}    
        <input type="file" id="arquivo" name="arquivo">
        <button type="submit">Enviar</button>
    </form>

    <div id="lista-documentos">
       {% include 'fragmento/lista_documentos.html' with documentos=documentos %}
    </div>

</section> 
