{% load static %}

{% block conteudo %}
    {% if form.errors %}
        <div class="alert alert-danger" id="error" role="alert">
            Existe um ou mais campos inválidos no formulário!
        </div>
    {% endif %}
    <form id="contrato-update-form" hx-post="{% url 'contrato-update' contrato.pk %}" hx-target="#contrato-form" hx-swap="innerHTML" novalidate onsubmit="removerMascaraValor(event)">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label for="valor">Valor</label> 
                <input type="text" id="valor" name="valor" oninput="formatarValor(this)" class="form-control form-control-sm input-update-contrato" maxlength="17" disabled value="{{ contrato.valor }}" required>
                <div class="text-danger">
                    {% for error in form.valor.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <label for="periodo">Período</label>
                <select name="periodo" id="periodo" class="form-control form-control-sm input-update-contrato" disabled>
                    {% for value, display in contrato.periodo_choices %}
                        <option value="{{ value }}" {% if value == contrato.periodo %}selected{% endif %}>
                            {{ display }}
                        </option>
                    {% endfor %}
                </select>
                <div class="text-danger">
                    {% for error in form.periodo.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <label for="data_inicio">Início</label>
                <input type="date" id="data_inicio" name="data_inicio" class="form-control form-control-sm input-update-contrato" disabled value="{{ contrato.data_inicio|date:'Y-m-d' }}" required>
                <div class="text-danger">
                    {% for error in form.data_inicio.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <label for="data_fim">Fim</label>
                <input type="date" id="data_fim" name="data_fim" class="form-control form-control-sm input-update-contrato mb-3" disabled value="{{ contrato.data_fim|date:'Y-m-d' }}" required>
                <div class="text-danger">
                    {% for error in form.data_fim.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
        </div>

        <button type="submit" class="btn" id="salvar_contrato" style="display: none;">Salvar</button>
        <button type="button" class="btn" onclick="removeDisabled('input-update-contrato', 'salvar_contrato')">Alterar</button>
    </form>
{% endblock %}

{% block scripts %}
    <!-- Importação para uso de mask -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <!-- Importação para uso de maskMoney -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>

    <script>
        function formatarValor(valorField) {
            // Remove tudo que não for dígito e formata para moeda
            let valor = valorField.value.replace(/\D/g, '');
            if (valor) {
                valor = (valor / 100).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
            }
            valorField.value = valor;
        }

        function removerMascaraValor(event) {
            // Previne o envio padrão do formulário
            event.preventDefault();

            // Obtém o valor do campo Valor e remove a máscara
            let valorField = document.getElementById('valor');
            let valor = valorField.value.replace(/\D/g, ''); // Remove tudo que não é número

            // Converte para formato decimal (ex: "55000" para "550")
            valor = (parseFloat(valor) / 100).toFixed(2); // Agora o valor está em reais

            // Atualiza o valor do campo com o valor em formato decimal
            valorField.value = valor;
        }

        function removeDisabled(className, id) {
            $('.' + className).removeAttr('disabled');
            $('#' + id).css('display', 'inline');
        }
    </script>
{% endblock %}













