{% extends 'core/inicio.html' %}

{% load static %}

{% block conteudo %}
    <main class="col-md-10 ms-sm-auto col-lg-10">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Responsável</h1>
        </div>
        {% if form.errors %}
            <div class="alert alert-danger" id="error" role="alert">
                Existe um ou mais campos inválidos no formulário!
            </div>
        {% endif %}
        <form method="post" novalidate> <!--Colocar o novalidate para a mensagem de erro aparecer em baixo do input no template-->
            {% csrf_token %}
            {{ wizard.management_form }}
            <div class="container-fluid py-2 border-top border-bottom mb-2" style="background-color: whitesmoke    ;"></div>
                <div class="row mb-2">
                    <div class="col-8">
                        <label for="{{ wizard.form.nome.id_for_label }}">Nome</label>
                        {{ wizard.form.nome }}
                        <div class="text-danger">
                            {% for error in form.nome.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-2">
                        <label for="{{ wizard.form.cpf.id_for_label }}">CPF</label>
                        {{ wizard.form.cpf }}
                        <div class="text-danger">
                            {% for error in form.cpf.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-2">
                        <label for="{{ wizard.form.telefone.id_for_label }}">Telefone</label>
                        {{ wizard.form.telefone }}
                        <div class="text-danger">
                            {% for error in form.telefone.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <label for="{{ wizard.form.endereco.id_for_label }}">Endereço</label>
                        {{ wizard.form.endereco }}
                        <div class="text-danger">
                            {% for error in form.endereco.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <label for="{{ wizard.form.profissao.id_for_label }}">Profissão</label>
                        {{ wizard.form.profissao }}
                        <div class="text-danger">
                            {% for error in form.profissao.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <label for="{{ wizard.form.sexo.id_for_label }}">Sexo</label>
                        {{ wizard.form.sexo }}
                        <div class="text-danger">
                            {% for error in form.sexo.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <label for="{{ wizard.form.parentesco.id_for_label }}">Parentesco</label>
                        {{ wizard.form.parentesco }}
                        <div class="text-danger">
                            {% for error in form.parentesco.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% if wizard.steps.prev %}
                <button type="submit" class="btn" name="wizard_goto_step" value="{{ wizard.steps.prev }}">Retornar</button>
            {% endif %}
            <button type="submit" class="btn">{% if wizard.steps.next %} Avançar {% else %} Finalizar {% endif %}</button>
        </form>
    </main>
{% endblock %}

{% block scripts %}
    <!-- Importação para uso de mask -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script>
        $(document).ready(function() {
            // Aplica a máscara no campo CPF
            $('#cpf').mask('000.000.000-00', {reverse: true});

            // Aplica a máscara no campo telefone
            $('#telefone').mask('(00) 00000-0000');
        });

        $('form').on('submit', function() {
            // Remove a máscara de CPF ou CNPJ
            $("#cpf").unmask();
        });
    </script>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
        })()
    </script>
{% endblock %}