<h1>Create Responsável</h1>

<form method="post" novalidate>
    {% csrf_token %}

    {{ wizard.management_form }}

    {{ wizard.form.cpf.errors }}

    <label for="{{ wizard.form.nome.id_for_label }}">Nome</label>
    {{ wizard.form.nome }}

    <label for="{{ wizard.form.cpf.id_for_label }}">CPF</label>
    {{ wizard.form.cpf }}

    <label for="{{ wizard.form.telefone.id_for_label }}">Telefone</label>
    {{ wizard.form.telefone }}

    <label for="{{ wizard.form.endereco.id_for_label }}">Endereço</label>
    {{ wizard.form.endereco }}

    <label for="{{ wizard.form.profissao.id_for_label }}">Profissão</label>
    {{ wizard.form.profissao }}

    <label for="{{ wizard.form.sexo.id_for_label }}">Sexo</label>
    {{ wizard.form.sexo }}

    <label for="{{ wizard.form.parentesco.id_for_label }}">Parentesco</label>
    {{ wizard.form.parentesco }}

    {% if wizard.steps.prev %}
        <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}">Retornar</button>
    {% endif %}

    <button type="submit">{% if wizard.steps.next %} Avançar {% else %} Finalizar {% endif %}</button>
</form>

{% block scripts %}
    <!-- Importação para uso de mask -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script>
        $(document).ready(function() {
            // Aplica a máscara no campo CPF
            $('#cpf').mask('000.000.000-00', {reverse: true});

            // Aplica a máscara no campo telefone
            $('#telefone').mask('(00) 00000-0000');
        });

        $('form').on('submit', function() {
            // Remove a máscara de CPF ou CNPJ
            $("#cpf").unmask();
        });
    </script>
{% endblock %}