{% load static %}

<!-- Arquivo Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo-favicon.png' %}">

{% block css %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block titulo %}
    <title>Dinossauros</title>
{% endblock %}

{% block conteudo %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 d-flex align-items-center justify-content-center">
        <form method="post">
          {% csrf_token %}
          <div class="mb-3 d-flex justify-content-center align-items-center">
            <img src="{% static 'img/logo-dinossauros.png' %}" style="height: 35%; width: 35%;">
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <h4 class="mb-4">Dinossauros</h4>
          </div>
          {% if form.errors %}
            <div class="alert alert-danger" id="error" role="alert">
              Usuário e/ou senha inválidos
            </div>
          {% endif %}
          <div class="mb-3">
            <label for="username" class="form-label">Usuário</label>
            <input type="text" class="form-control form-control-sm" id="username" name="username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control form-control-sm" id="password" name="password">
          </div>
          <button type="submit" class="btn" style="background-color: #03a8e8; color: white;">Entrar</button>
        </form>
      </div>
      <div class="col-8 d-flex align-items-center justify-content-center" style="background-color: #fcf6f1;">
        <img src="{% static 'img/banner-dinossauros.svg' %}"/>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <!-- Jquery Js-->
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script> <!--Importação Jquery sempre antes do Bootstrap-->
  
  <!-- Bootstrap Js -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>

  <script src="{% static 'js/login.js' %}"></script>
{% endblock %}