{% load static %}

{% block conteudo %}
    {% if form.errors %}
        <div class="alert alert-danger" id="error" role="alert">
            Existe um ou mais campos inválidos no formulário!
        </div>
    {% endif %}
    <div id="aluno-form">
        <form id="aluno-update-form" hx-post="{% url 'aluno-update' aluno.pk %}" hx-target="#aluno-form" hx-swap="innerHTML" novalidate>
            {% csrf_token %}        
            <div class="row">
                <div class="col mb-3">
                    <input type="checkbox" id="inativar" name="inativar" disabled class="input-update-aluno" {% if not aluno.ativo %} checked {% endif %}>
                    <label for="inativar">Inativar</label>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" disabled class="form-control form-control-sm input-update-aluno" value="{{ aluno.nome }}" maxlength="50" required>
                    <div class="text-danger">
                        {% for error in form.nome.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <label for="cpf">CPF</label>
                    <input type="text" id="cpf" name="cpf" disabled class="form-control form-control-sm input-update-aluno" value="{{ aluno.cpf }}" maxlength="14" required> <!-- Max length increased to accommodate mask -->
                    <div class="text-danger">
                        {% for error in form.cpf.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <label for="idade">Idade</label>
                    <input type="number" id="idade" name="idade" max="100" min="1" disabled class="form-control form-control-sm input-update-aluno" value="{{ aluno.idade }}" required>
                    <div class="text-danger">
                        {% for error in form.idade.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn" id="salvar_aluno" style="display: none;">Salvar</button>
            <button type="button" class="btn" onclick="removeDisabled('input-update-aluno', 'salvar_aluno')">Alterar</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script>
        function applyCpfMask() {
            $('#cpf').mask('000.000.000-00', {reverse: true});
        }

        document.addEventListener('DOMContentLoaded', function() {
            applyCpfMask(); // Aplica a máscara de CPF na inicialização
        });

        function removeDisabled(className, id) {
            $('.' + className).removeAttr('disabled');
            $('#' + id).css('display', 'inline');
        }

        // Aplica a máscara após a troca do conteúdo
        document.body.addEventListener('htmx:afterSwap', function(event) {
            setTimeout(applyCpfMask, 50); // Aplica a máscara com um pequeno atraso
        });

        // Remover a máscara e truncar o CPF no envio do formulário
        $('#aluno-update-form').on('submit', function(event) {
            let cpfField = $('#cpf'); // Seleciona o campo CPF
            let cpfValue = cpfField.val(); // Captura o valor atual
            cpfValue = cpfValue.replace(/\D/g, ''); // Remove todos os caracteres não numéricos

            if (cpfValue.length > 11) {
                cpfValue = cpfValue.slice(0, 11); // Garante que tenha no máximo 11 caracteres
            }

            cpfField.val(cpfValue); // Atualiza o valor do campo sem a máscara

            // Envia o formulário após garantir que o valor está correto
            // Utilizando um atraso para garantir que o valor é capturado antes do envio
            setTimeout(() => {
                this.submit(); // Envia o formulário com o valor atualizado
            }, 50); 
            
            event.preventDefault(); // Evita o envio padrão do formulário
        });
    </script>
{% endblock %}
