{% load static %}

{% block conteudo %}
    <table class="table table-hover mt-1" id="listar-documentos">
        <thead>
            <tr class="table">
                <th class="p-1" style="background-color: #03a8e8; color: white;">Nome</th>
                <th class="p-1" style="background-color: #03a8e8; color: white;">Download</th>
                <th class="p-1" style="background-color: #03a8e8; color: white;"></th>        
            </tr>
        </thead>
        <tbody>
            {% for documento in documentos %}
                <tr>
                    <td>{{ documento.nome }}</td>
                    <td><a href="{{ documento.arquivo.url }}" target="_blank" rel="noopener noreferrer" style="color: #03a8e8;"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                      </svg></a></td>
                    <td>
                        <!-- Botão para abrir o modal, com um ID único -->
                        <a id="openModal-doc-{{ documento.pk }}" data-documento-id="{{ documento.pk }}" style="color: red; cursor: pointer;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-excel-fill" viewBox="0 0 16 16">
                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64"/>
                            </svg>
                        </a>  

                        <!-- Modal com um ID único -->
                        <div class="modal fade" id="modalDelete-doc-{{ documento.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel-{{ documento.pk }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title fs-5" id="staticBackdropLabel-{{ documento.pk }}">Confirmar exclusão</h5>
                                </div>
                                <div class="modal-body">                                        
                                    Confirme se realmente deseja a exclusão permanente do documento <b>{{ documento.nome }}</b>.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    <!-- Botão de confirmação com ID único -->
                                    <button type="button" class="btn btn-excluir-doc" style="background-color: red; color: white;" data-documento-id="{{ documento.pk }}">Confirmar</button>
                                </div>
                            </div>
                            </div>
                        </div>

                        <form id="formDelete-doc-{{documento.pk}}" method="post" action="{% url 'delete-documento' documento.pk  %}">
                            {% csrf_token %}
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function initializeDataTable() {
                $('#listar-documentos').DataTable({
                    destroy: true, // Permite reinicializar o DataTable
                    responsive: true,
                    "ordering": true, // Remove as opções das colunas de ordenar a tabela.
                    "searching": false, // Remove o campo input de busca "search"
                    "info": false,
                    // "bSort": false,
                    "aaSorting": [],
                    "pageLength": 4,
                    "language": {
                        "decimal": "",
                        "emptyTable": "Nenhum documento",
                        // "info": "Filtrados: _TOTAL_ ",
                        "infoEmpty": "Ativos: 0",
                        "infoFiltered": "",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ alunos",
                        "loadingRecords": "A carregar dados...",
                        "processing": "A processar...",
                        // "search": "Buscar:",
                        "zeroRecords": "Nenhum documento",
                        "paginate": {
                            "first": "Primeiro",
                            "last": "Último",
                            "next": "Próximo",
                            "previous": "Anterior"
                        },
                        "aria": {
                            "sortAscending": ": ordem crescente",
                            "sortDescending": ": ordem decrescente"
                        }
                    }
                });
            }

            $('.dataTables_length').hide(); // Remove do data-table -> "lengthMenu": "Mostrar _MENU_ alunos", 

            // Inicializa os DataTables ao carregar a página
            initializeDataTable();
               
            // Abrir modal de Delete Documento e enviar formulário - Seleciona todos os botões de abrir modal e os configura individualmente
            document.querySelectorAll('[id^="openModal-doc-"]').forEach(button => {
                button.addEventListener('click', function () {
                    const documentoId = button.getAttribute('data-documento-id');
                    const modalElement = document.getElementById(`modalDelete-doc-${documentoId}`);
                    
                    // Inicializa e mostra o modal específico
                    const modalInstance = new bootstrap.Modal(modalElement, {
                        backdrop: 'static',
                        keyboard: false
                    });
                    modalInstance.show();

                    // Configura o botão de exclusão dentro do modal
                    const deleteButton = modalElement.querySelector('.btn-excluir-doc');
                    deleteButton.onclick = function () {
                        const formDelete = document.getElementById(`formDelete-doc-${documentoId}`);
                        formDelete.submit();
                    };
                });
            });  

            // Limpar o nome do arquivo após o formulário de upload ser submetido.
            const form = document.getElementById('form-upload'); // Selecione o formulário específico se houver vários
            const fileInput = document.getElementById('arquivo');

            form.addEventListener('submit', function() {
                setTimeout(() => {
                    fileInput.value = ""; // Limpa o nome do arquivo no campo
                }, 100); // Timeout para garantir que o envio termine antes de limpar
            });

            // QUANDO ALGUMA FUNÇÃO JS PARAR DE FUNCIONAR APÓS O ENVIO DE UM FORM COM HTMX, INSERIR A CÓPIA DA FUNÇÃO AQUI DENTRO.
            document.body.addEventListener('htmx:afterSwap', function(event) {
                    // Abrir modal de Delete Documento e enviar formulário - Seleciona todos os botões de abrir modal e os configura individualmente
                document.querySelectorAll('[id^="openModal-doc-"]').forEach(button => {
                    button.addEventListener('click', function () {
                        const documentoId = button.getAttribute('data-documento-id');
                        const modalElement = document.getElementById(`modalDelete-doc-${documentoId}`);
                        
                        // Inicializa e mostra o modal específico
                        const modalInstance = new bootstrap.Modal(modalElement, {
                            backdrop: 'static',
                            keyboard: false
                        });
                        modalInstance.show();

                        // Configura o botão de exclusão dentro do modal
                        const deleteButton = modalElement.querySelector('.btn-excluir-doc');
                        deleteButton.onclick = function () {
                            const formDelete = document.getElementById(`formDelete-doc-${documentoId}`);
                            formDelete.submit();
                        };
                    });
                });  

                initializeDataTable();
            });      
        });
    </script>
{% endblock %}