:root {
    --primary-color: rgb(204, 241, 204); 
    --secondary-color: rgb(94, 135, 94); 
    --text-color: #555555;
    --banner: #fcf6f1;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    .barra-menu {
        flex: 0.1;
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
        
        .container {
            display: flex;
            flex-direction: row;
            width: 90%;
            /* height: 100%; */


            .logo {
                display: flex;
                width: 100%;
                gap: 20px;
                
                img { /*Tamanho imagem: 96x96 png*/
                    width: 80px; 
                    height: 70px;
                }
            }
            
            .menu {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1px;
                height: 100%;

                .links-menu {
                    display: flex;
                    justify-content: center;
                    width: 70px;
                    height: 100%;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                            height: 60%;
                        }
                    }
                }

                .links-menu form {
                    display: flex;
                    justify-content: center;
                    width: 70px;
                    height: 100%;

                    input {
                        /* border: none; */
                        /* background-color: transparent; */

                        img {
                            width: 100%;
                            height: 60%;
                        }
                    }

                    input:hover {
                        margin: 0;
                        padding: 0;
                        background-color: var(--primary-color);
                    }
                    
                    img {
                        width: 100%;
                        height: 60%;
                    }
                }

                .links-menu:hover {
                    margin: 0;
                    padding: 0;
                    background-color: var(--primary-color);
                }
            }
        }
    }

    .corpo {
        flex: 1;
        display: flex;
        justify-content: center;
        background-color: white;
    
        .conteudo {
            width: 90%;
            height: 75%;
            display: flex;
            flex-direction: column;
            margin-top: 1%;

            h3 {
                height: 2%;
            }

            .filtro {
                height: 10%;
                display: flex;
                align-items: center;
                display: flex;
                width: 100%;
                align-items: center;
                
                button {
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    font-size: 16px;
                    padding: 10px;
                    background-color: var(--primary-color);
                    color: white;
                    font-weight: 700;
                    white-space: nowrap; /*Não permite a quebra de linha da segunda palavra*/
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /*Sombra da caixa*/
                    transition: transform 0.1s ease, box-shadow 0.1s ease; /*Transição suave*/
                }
                
                button:active {
                    background-color: var(--primary-color); /* Cor mais escura quando pressionado */
                    transform: translateY(4px); /* Move o botão para baixo */
                    box-shadow: 0 2px #666;  /* Reduz a sombra para parecer "pressionado" */
                }

                .btn-limpar {
                    margin-left: 10px;
                }

                .btn-filtrar {
                    border: none;
                    cursor: pointer;
                    font-size: 16px;
                    padding: 10px;
                    background-color: var(--primary-color);
                    color: white;
                    font-weight: 700;
                    border-radius: 0 6px 6px 0; /* top-left, top-right, bottom-right, bottom-left */
                }

                #pesquisar:hover {
                    background-color: whitesmoke;
                    color: black;
                }

                input {
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /*Sombra da caixa*/
                    padding: 9px;
                    border: 1px solid;
                    border-color: var(--primary-color);
                    border-radius: 1px;
                    font-size: 16px;
                    width: 100%;
                    margin-left: 10px;
                }
            }

            table {
                border: none;
                border-collapse: collapse; /* Remove espaços entre bordas */
                width: 100%;
            }

            thead tr {
                background-color:white;
                height: 40px;
            }

            thead tr th {
                border-bottom: 2px solid var(--primary-color); /* Borda inferior mais espessa no cabeçalho */
            }
            
            tbody tr:nth-child(odd) { 
                background-color: whitesmoke; /* Cor de fundo cinza claro */
                height: 40px;
            }

            tbody tr:nth-child(even) {
                background-color: white; /* Cor de fundo branca */
                height: 40px;
            }

            tbody tr:hover {
                background-color: var(--primary-color);
            }

            td {
                text-align: center;
            }

            .td-aluno-nome {
                padding-left: 10px;
                text-align: left;
            }

            #paginationControls {
                margin-top: 10px;
                text-align: center;
            }

            #paginationControls button {
                padding: 5px 10px;
                margin: 2px;
                border: none;
                border-radius: 5px;
                background-color: #f2f2f2;
                cursor: pointer;
                font-weight: 700;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /*Sombra da caixa*/
                transition: transform 0.1s ease, box-shadow 0.1s ease; /*Transição suave*/
            }

            #paginationControls button:active {
                background-color: var(--primary-color); /* Cor mais escura quando pressionado */
                transform: translateY(4px); /* Move o botão para baixo */
                box-shadow: 0 2px #666;  /* Reduz a sombra para parecer "pressionado" */
            }

            #paginationControls button.active {
                background-color:  var(--primary-color);
                color: white;
                font-weight: 700;
            }

            #paginationControls button:hover {
                background-color: var(--primary-color);
            }
        }
    }

    .barra {
        flex: 0.1;
        background-color: whitesmoke;
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 5%;
        height: 4%;
        background-color: var(--primary-color);
        font-size: 10px;
    }
}