/* Estilos globais */
html, body {
    height: 100%;
    overflow: hidden; /* Impede o scroll da página */
}

/* Navbar superior fixa */
.navbar-top {
    height: 50px;
    z-index: 1020; /* Mantém a navbar superior sobre o conteúdo */
    border-bottom: 1px solid #ccc;
    background-color: #03a8e8;
}

/* Sidebar fixa */
#sidebar {
    top: 50px; /* Compensa a altura da navbar superior */
    bottom: 0;
    height: calc(100vh - 50px); /* Altura total menos a navbar superior */
    z-index: 1010;
    border-right: 1px solid #ccc;
}

/* Área de conteúdo principal com rolagem */
main {
    margin-top: 30px; /* Compensa a altura da navbar superior */
    margin-left: 17%; /* Compensa a largura da sidebar */
    height: calc(100vh - 50px); /* Altura total menos a navbar superior */
    overflow-y: auto; /* Permite rolagem do conteúdo */
    padding: 20px;
}

.pagination {
    display: flex;
    justify-content: flex-end; /* Alinha a paginação à direita */
}

.pagination .paginate_button.page-item.active a {
    border: 1px solid #03a8e8; /* Define uma borda vermelha */
    background-color: #03a8e8; /* Define a cor de fundo do link ativo */
    color: white; /* Define a cor do texto do link ativo */
}

/* Estilo para os botões de paginação inativos (se necessário) */
.pagination .paginate_button a {
    border: 1px solid #ddd; /* Borda padrão */
    color: black; /* Cor padrão do texto dos links */
}

/* Estilo para os botões de paginação ao passar o mouse */
.pagination .paginate_button a:hover {
    background-color: #03a8e8; /* Cor ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

#li-menu-lateral {
    transition: color 0.3s ease; /* Transição suave */
    color: #777474;
}

#li-menu-lateral:hover {
    background-color: #bcbcbd3a; /* Altere a cor quando o mouse estiver sobre o item */
    cursor: pointer; /* Alterar o cursor para indicar interatividade */
    border-radius: 5px;
}
