:root {
    --primary-color: rgb(175, 211, 175); 
    --text-color: #555555;
    --secondary-color: #1E2772;
    --gray-bg: #EEEEEE;
    --banner: #fcf6f1;
}

body {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row; /* Elementos em linha horizontal*/
    height: 100%; /* Altura*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .login-section {
        flex: 1; /* Crescimento flexível para que se ajuste proporcionalmente*/
        flex-grow: 0.4; /* Crescimento flexível, tamanho em proporção, se todos for = 1, todos possuirão o mesmo tamanho.*/
        background-color: white; /* Cor de fundo*/
        display: flex;
        flex-direction: column; /* Elementos em coluna vertical*/
        align-items: center; /* Alinhamento central*/
        justify-content: center; /* Alinhamento central*/
        gap: 20px; /* Distanciamento entre os elementos*/
        padding: 0 35px; /* Espaçamento lateral de 35px*/

        .image-container-logo {
            width: 100%; /* Largura*/
            display: flex;
            justify-content: center; /* Alinhamento centralizado*/
        }

        img {
            width: 30%; /* Largura*/
        }

        form {
            width: 100%;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            margin-bottom: 20px;

            input {
                border-radius: 8px;
                border: none;
                background-color: var(--gray-bg);
                padding: 12px 24px; /*Espaçamento interno*/
                font-size: 16px;
                text-align: center;
            }
        }

        .fail-login-alert {
            display: flex;
            justify-content: center;
            background-color: rgb(255, 255, 113);
            padding: 12px 24px;
            font-size: 16;
            border-radius: 8px;;
        }

        button {
            width: 100%;
            border-radius: 8px; /* Arredondamento da borda*/
            font-size: 16px; /* Tamanho da fonte*/
            font-weight: 500; /* Expessura da fonte*/
            border: none; /* Sem borda*/
            background: transparent; /* Cor de fundo*/
            padding: 12px 24px; /* Altura e Largura*/
            cursor: pointer; /* Ponteiro do cursor*/
            background-color: var(--primary-color); /* Cor de fundo*/
            color: white; /* Cor da letra*/
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /*Sombra da caixa*/
            transition: transform 0.1s ease, box-shadow 0.1s ease; /*Transição suave*/
        }

        button:active {
            background-color: var(--primary-color); /* Cor mais escura quando pressionado */
            transform: translateY(4px); /* Move o botão para baixo */
            box-shadow: 0 2px #666;  /* Reduz a sombra para parecer "pressionado" */
        }
    }

    .banner-section {
        flex: 1; /* Crescimento flexível para que se ajuste proporcionalmente*/
        flex-grow: 1; /* Crescimento flexível, tamanho em proporção, se todos for = 1, todos possuirão o mesmo tamanho.*/
        background-color: var(--banner); /* Chamando a varíavel importada de variables.css /* Cor de fundo*/
        display: flex;
        flex-direction: row; /* Elementos em linha horizontal*/
        align-items: center; /* Alinhamento horizontal (para flex-direction -> column)*/
        justify-content: center; /* Alinhamento vertical (para flex-direction -> column*/       

        img {
            height: 100%; /* Altura*/
            width: 70%; /* Largura*/
        }
    }
}
