{% load static %} <!--Carregar arquivos estáticos (imagens)-->

<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    {% block titulo %}
      <title>Dinossauros</title>
    {% endblock %}
    
    {% block css %}
      <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    {% endblock %}

    {% block htmx %}
    {% endblock %}
  </head>
  
  <body>
    {% block conteudo %}   
      <!-- Navbar Superior Fixa -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'inicio' %}">Dinossauros</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTop">
            <ul class="navbar-nav ms-auto">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>

      <!-- Sidebar Lateral Fixa -->
      <nav id="sidebar" class="col-md-2 col-lg-2 d-md-block bg-light sidebar position-fixed border-end">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">
                Lista Alunos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'cadastro_wizard' %}">
                Novo Aluno
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Área Principal de Conteúdo com rolagem -->
      <main class="col-md-10 ms-sm-auto col-lg-10">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Alunos</h1>
        </div>
        <p>Bem-vindo ao painel principal. Aqui é onde o conteúdo da página será exibido.</p>
        <p>Adicione aqui mais conteúdo para ver a rolagem funcionando...</p>
        <p>Lorem ipsum dolor sit amet...</p>
        <!-- Adicione mais conteúdo para testar a rolagem -->
      </main>
    {% endblock %}

    <!-- Jquery Js-->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script> <!--Importação Jquery sempre antes do Bootstrap-->
    <!-- Bootstrap Js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/inicio.js' %}"></script>

  </body>
  </html>
  
{% block scripts %}
{% endblock %}
