{% load static %} <!--Carregar arquivos estáticos (imagens)-->

<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    {% block titulo %}
      <title>Dinossauros</title>
    {% endblock %}
    
    {% block css %}
      <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    {% endblock %}

    {% block htmx %}
    {% endblock %}
  </head>
  
  <body>
    <!-- Navbar Superior Fixa -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-top">
      <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'inicio' %}" style="color: rgb(255, 255, 255);">Dinossauros</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarTop">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item d-flex align-items-center">
                      <form method="post" action="{% url 'logout' %}" class="m-0 p-0">
                          {% csrf_token %}
                          <input type="image" src="{% static 'img/exit-icon.png' %}" style="height:30px; width:30px;">
                      </form>
                  </li>
              </ul>
          </div>
      </div>
    </nav>
  
    <!-- Sidebar Lateral Fixa -->
    <nav id="sidebar" class="col-md-2 col-lg-2 d-md-block bg-light sidebar position-fixed border-end">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">
              Lista Alunos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'cadastro_wizard' %}">
              Novo Aluno
            </a>
          </li>
        </ul>
      </div>
    </nav>
    
    {% block conteudo %}   
      <!-- Área Principal de Conteúdo com rolagem -->
      <main class="col-md-10 ms-sm-auto col-lg-10">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Alunos</h1>
        </div>
        <table class="table table-hover" id="listar-alunos">
          <thead>
              <tr class="table" >
                <th>Status</th>
                <th>Nome</th>      
                <th>Detalhes</th>   
                <th></th>
              </tr>
          </thead>
          <tbody>
            {% for aluno in alunos %}
              <tr>
                <td>{{ aluno.ativo }}</td>
                <td class="td-aluno-nome">{{ aluno.nome}}</td>
                <td>
                  <a href="{% url 'aluno-detail' aluno.pk %}">Detalhes</a>
                </td>
                <td>
                  <button id="openModal">Excluir</button>

                  <!-- Modal -->
                  <div id="modalDelete" class="modal">
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <header>
                        <h2>Exclusão de Aluno</h2>
                      </header>
                      <p>Tem certeza que deseja excluir o cadastro do aluno?</p>
                      <button type="button" id="btn-excluir">Excluir</button>
                    </div>
                  </div>
                  <form id="formDelete" method="post" action="{% url 'aluno-delete' aluno.pk  %}">
                    {% csrf_token %}
                  </form>
                </td>
              </tr>
            {% endfor %}  
          </tbody>
        </table>
      </main>
    {% endblock %}

    <!-- Jquery Js-->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script> <!--Importação Jquery sempre antes do Bootstrap-->
    <!-- Bootstrap Js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/inicio.js' %}"></script>

  </body>
  </html>
  
{% block scripts %}
  <script src="{% static 'js/inicio.js' %}"></script>
  <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
  <script>
    $(document).ready(function(){
      $('#listar-alunos').DataTable({
          responsive: true,
          // "ordering": false, // Remove as opções das colunas de ordenar a tabela.
          "searching": false, // Remove o campo input de busca "search"
          // "bSort": false,
          "aaSorting": [],
          "pageLength": 8,
          "language": {
              "decimal": "",
              "emptyTable": "Nenhum processo filtrado",
              "info": "Filtrados: _TOTAL_ ",
              "infoEmpty": "Ativos: 0",
              "infoFiltered": "",
              "infoPostFix": "",
              "thousands": ",",
              "lengthMenu": "Mostrar _MENU_ processos",
              "loadingRecords": "A carregar dados...",
              "processing": "A processar...",
              // "search": "Buscar:",
              "zeroRecords": "Nenhum processo filtrado",
              "paginate": {
                  "first": "Primeiro",
                  "last": "Último",
                  "next": "Próximo",
                  "previous": "Anterior"
              },
              "aria": {
                  "sortAscending": ": ordem crescente",
                  "sortDescending": ": ordem decrescente"
              }
          }
      });
  });
  </script>
{% endblock %}
