{% load static %} <!--Carregar arquivos estáticos (imagens)-->

<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    {% block titulo %}
      <title>Dinossauros</title>
    {% endblock %}
    
    {% block css %}

    {% endblock %}

    {% block htmx %}
    {% endblock %}
  </head>
  
  <body>
    <div class="container border border-dark">
      <div class="row">
        <div class="col-1" style="background-color: red;">Escolinha Dinossauros</div>
        <div class="col-11" style="background-color: blue;">Escolinha Dinossauros</div>
      </div>
    </div>


    {% block conteudo %}   
    
    {% endblock %}

    <!-- Jquery Js-->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script> <!--Importação Jquery sempre antes do Bootstrap-->
    <!-- Bootstrap Js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
  </body>
</html>

  {% block scripts %}
    <script src="{% static 'js/inicio.js' %}"></script>
  {% endblock %}
